.container-narrow
  %h1 佳木斯市教师测评问卷
  #progress{style: "background-position: 0px 0px;"}
  %hr/
  %h3{style: "text-align: center;"}
    您已经给这位老师投过票了
  %a{href: "/teachers/", style: "text-align: center;"}
    %h2 继续评价其他教师
