!!!
%html{lang: "zh-CN"}
  %head
    %meta{charset: "utf-8"}/
    %title 佳木斯市教师测评问卷
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "css/bootstrap.min.css", rel: "stylesheet"}/
    :css
      body {
        font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", sans-serif;
        padding-top: 30px;
        padding-bottom: 40px;
        background-color: #f7f7f7;
      }

      /* Custom container */
      .container-narrow {
        border: 3px solid #eaeaea;
        margin: 0 auto;
        max-width: 700px;
        background-color: #fff;
        padding: 50px 50px 30px 50px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }
      h1 {
        font-size: 32px;
        line-height: 1;
        text-align: center;
        letter-spacing: 0.1em;
      }
      form p {
        padding-left: 24px;
      }
      h2 {
        margin-top: 32px;
        margin-bottom: 8px;
        border: none;
        font-size: 20px;
        font-weight: normal;
      }
      label {
        font-size: 18px;
        margin-right: 8px;
      }

      .submit {
        text-align: center;
      }
      .btn {
        font-size: 21px;
        line-height: 21px;
        padding: 14px 24px;
      }
  %body
    .container-narrow
      %h1 佳木斯市教师测评问卷
      %hr/
      %form.bs-docs-example.form-horizontal
        %h2 1. 是否办班补课
        %p
          %label.radio.inline
            %input{name: "radio1", type: "radio"}/
            是
          %label.radio.inline
            %input{name: "radio1", type: "radio"}/
            否
        %h2 2. 是否推销或变向推销教辅资料
        %p
          %label.radio.inline
            %input{name: "radio2", type: "radio"}/
            是
          %label.radio.inline
            %input{name: "radio2", type: "radio"}/
            否
        %h2 3. 教学态度是否端正
        %p
          %label.radio.inline
            %input{name: "radio3", type: "radio"}/
            是
          %label.radio.inline
            %input{name: "radio3", type: "radio"}/
            否
        %hr{style: "margin-top: 40px;"}/
        %p.submit
          %a.btn.btn-large.btn-success{href: "#"} 提交
