!!!
%html{lang: "zh-CN"}
  %head
    %meta{charset: "utf-8"}/
    %title
      - if @title
        = @title+" | "
      佳木斯市教师测评问卷
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}/
    %link{href: "/css/bootstrap.min.css", rel: "stylesheet"}/
    %link{href: "/css/laoyuan.css?v=2", rel: "stylesheet"}/
  %body
    = yield

