.container-narrow
  %h1 佳木斯市教师测评问卷
  #progress{style: "background-position: 0px -135px;"}
  %hr/
  - @teachers.each do |sub, teas|
    %h3
      = sub
    %hr{style: "margin-top: 0; margin-bottom: 5px;"}/
    - teas.each do |t|
      %a{href: "/vote/#{t.id}/", style: "min-width: 40px; margin-right: 12px; margin-bottom: 4px; font-size: 15px; word-break: keep-all;"}
        = "#{t.name}"
