body {
  font-family: "Helvetica Neue", Helvetica, "Hiragino Sans GB", sans-serif;
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #f7f7f7;
}

/* Custom container */
.container-narrow {
  border: 3px solid #eaeaea;
  margin: 0 auto;
  max-width: 700px;
  background-color: #fff;
  padding: 50px 50px 30px 50px;
}
.container-narrow > hr {
  margin: 30px 0;
}
h1 {
  font-size: 32px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.1em;
}
form p {
  padding-left: 24px;
}
h2 {
  margin-top: 32px;
  margin-bottom: 8px;
  border: none;
  font-size: 20px;
  font-weight: normal;
}
#progress {
  width: 384px;
  height: 45px;
  background-image: url('/img/progress.png');
  margin: 40px auto 24px auto;
}
@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 192dpi) {
    #progress {
        background-image: url('/img/progress@2x.png');
        background-size: 384px 225px;
    }
}
label {
  font-size: 18px;
  margin-right: 8px;
}

.submit {
  text-align: center;
}
.btn {
  font-size: 21px;
  line-height: 21px;
  padding: 14px 24px;
}

h3 {
    margin-top: 16px;
}
hr.h3 {
    margin-top: -8px;
    margin-bottom: 10px;
}
.teachers {
    padding: 0;
    margin: 0;
}
.teachers li {
    font-size: 16px;
    float: left;
    width: 70px;
    height: 32px;
    list-style-type: none;
}
